/*шрифты*/

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/rubik/rubik-800.woff2) format("woff2");
    font-display: swap;
}

.header__menu {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.slider h3 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.slider a {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.categories__list h3 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.services__case h2 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.services__list {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.delivery__description {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.contacts h2 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.contacts a {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.subscription h2 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.subscription button {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.footer__contacts ol {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.crumbs h1 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.options__filters {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.options__button {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.products__sorting span {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.products__load-more {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.products__pages-back, .products__pages-forward {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.product__link{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFF;
    color: #000;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.header a, main a {
    color: #000;
}

figure {
    margin: 0;
    padding: 0 !important;
}

.main {
    flex-grow: 1;
}

ul, ol {
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*хедер*/

.header__logo {
    display: block;
    margin: 17px auto -13px 201px;
    z-index: 1;
}

.header {
    background-color: #FFE17F;
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header ul {
    padding: 0;
    margin: 0;
}

.header__custom-menu {
    width: 1075px;
    margin: 48px 25px 0 60px;
    display: flex;
    justify-content:space-between;
}

.header__menu {
    width: 1041px;
    margin: 34px 59px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__option {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    line-height: 19px;
    letter-spacing: 0;
    color: #000;
    width: auto;
}

.header__option li {
    display: flex;
}

.header__option-person-exite {
    opacity: 0.3;
    width: 60px;
    height: 20px;
    margin: 0 auto;
}

.header__option-login {
    width: 245px;
}


.header__option-person::before {
    background-image: url(img/person.svg);
    content: "";
    background-size: cover;
    height: 14px;
    width: 16px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.header__option-compare, .header__option-cart {
    width: 120px;
}

.header__option-compare {
    margin-left: 15px;
}

.header__option-cart {
    margin-left: 29px;
}

.header__option-compare::before {
    background-image: url(img/compare.svg);
    content: "";
    background-size: cover;
    height: 14px;
    width: 16px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.header__option-cart::before {
    background-image: url(img/cart.svg);
    content: "";
    background-size: cover;
    height: 14px;
    width: 16px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.items-in-cart {
    position: absolute;
    z-index: 1;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background-color: #FFF;
    text-align: center;
    top: 88px;
    right: 281px;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;  
    vertical-align: middle; 
}

.header__form {
    display: flex;
    align-items: center;
    height: 20px;
}

.header__form::before {
    background-image: url(img/search.svg);
    content: "";
    background-size: cover;
    height: 16px;
    width: 16px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.header__search {
    border: none;
    background-color: #FFE17F;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    width: 464px;
}


.header__catalog {
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: #FFE17F;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.2em;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0;
}

.header__navigation {
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase; 
    list-style: none;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0;
}

.header__navigation-delivery {
    width: 140px;
}

.header__navigation-guarante {
    width: 140px;
    margin-left: 19px;
}

.header__navigation-contact {
    width: 140px;
    margin-left: 62px;
}

/*слайдер*/

.slider {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}


.slider__pictures {
    width: 560px;
    display: flex;
}

.slider__left {
    background-image: url(img/leftslider.svg);
    width: 20px;
    height: 60px;
    background-color: #fff;
    border: none;
    margin: auto -20px auto 0;
    padding: 0;
}

.slider__right {
    background-image: url(img/rightslider.svg);
    width: 20px;
    height: 60px;
    background-color: #fff;
    border: none;
    margin: auto 0 auto -20px;
    padding: 0;
}

.slider__description-1, .slider__description-2, .slider__description-3 {
    width: 600px;
    padding-left: 40px;
}

.slider__title {
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0;
    margin-top: 121px;
    height: 110px;
    margin-bottom: 19px;
}

.slider__paragraph {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    height: 80px;
}

.slider__back {
    background-color: #FFE17F;
    width: 1160px;
    position: absolute;
    z-index: -1;
    height: 150px;
    display: flex;
}

.slider__number {
    margin: auto 49px -15px auto
}

.slider__detail {
    display: flex;
    justify-content: space-between;
}

.slider__link {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #fff 0px 7px, #FFE17F 7px 15px, #fff 15px 20px);
}

.slider__bold {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
}

.slider__indicator {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}

.slider__indicator button {
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #000;;
}

.slider__indicator button:disabled {
    background-color: black;
}

.slider__specification {
    display: flex;
}

.slider__description div {
    width: 160px;
    height: 52px;
}

.slider__signing {
    width: 160px;
    font-size: 16px;
    margin-top: -19px;
}

/*категории*/

.categories {
    width: 1160px;
    margin: 70px auto;
}

.categories__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 160px);
    gap: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.categories__list h3 {
    width: 160px;
    margin-top: 33px;
    height: 60px;
}

.categories__list a {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.categories__list img {
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    margin-bottom: -10px;
}

.categories__list-vr {
    background-image: url(img/vr.png);
}

.categories__list-mp {
    background-image: url(img/mp.png);
}

.categories__list-ec {
    background-image: url(img/ec.png);
}

.categories__list-fb {
    background-image: url(img/fb.png);
}

.categories__list-yc {
    background-image: url(img/yc.png);
}

.categories__list-quardo {
    background-image: url(img/quardo.png);
}

/*сервисы*/

.services {
    margin-bottom: 90px;
}

.services__case {
    background-color: #fff;
    display: flex;
    width: 1114px;
    padding: 0;
    margin: 0 auto 0 auto;
}

.services__fon {
    width: 100%;
    height: 322px;
    background-color: #F0F0F0;
    z-index: -1;
    display: block;
    margin-top: -225px;
}

.services__slide {
    margin-top: auto;
    width: 830px;
    height: 260px;
    display: flex;
}

.services__list ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;
    width: 280px;
    height: 319px;
    margin: 0;
}

.services__list li {
    background: linear-gradient(to bottom, #f0f0f000 0px 7px, #FFE17F 7px 15px, #f0f0f000 15px 20px);
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.2em;
    width: 160px;
    text-align: center;
    margin-bottom: 45px;
}

.services__list li:first-child {
    margin-top: 19px;
}

.services__list li:last-child {
    margin-bottom: 81px;
}

.services__list {
    border-right: #000 7px solid;
    height: 320px;
}

.services__list input{
    display: none;
}

.services__img {
    display: flex;
    margin-left: auto;
    margin-bottom: auto;
}

.services__img-delivery {
    background-image: url(img/delivery1.svg);
    background-position: center;
    width: 136px;
    height: 166px;
}

.services__img-garant {
    background-image: url(img/garant.svg);
    background-position: center;
    width: 171px;
    height: 195px;
}

.services__img-credit {
    background-image: url(img/credit.svg);
    background-position: center;
    width: 156px;
    height: 188px;
}

.services__description {
    padding-left: 116px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.services__description h2 {
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    height: 70px;
    margin: 0 0 14px 0;
}

.services__description p {
    width: 500px;
    height: 165px;
    margin: 0;
}

/*доставка*/

.delivery {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
}

.delivery__img {
    background-image: url(img/deliverycar.svg);
    background-color: #FFE17F;
    width: 125px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.delivery__description {
    height: 100px;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.delivery__button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: rgba(220, 220, 220, 0.5);
    border: 0;
    margin-right: 33px
}

/*контакты*/

.contacts {
    display: flex;
    width: 1160px;
    margin: 97px auto 0 auto;
    justify-content: space-between;
}

.contacts__about-us {
    width: 560px;
}

.contacts__about-us ul {
    margin-top: 23px;
    margin-bottom: 52px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contacts__about-us li {
    font-weight: bold;
    list-style-position: inside;
    margin-top: auto;
    margin-bottom: auto;
}

.contacts__box-with-p {
    height: 202px;
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}

.contacts__box-with-p p {
    margin-top: 0;
    margin-bottom: auto;
}

.contacts__contacts {
    width: 560px;
}

.contacts__contacts-p1 {
    margin-top: 26px;
    margin-bottom: 0;
}

.contacts__contacts-p2 {
    margin-top: 0;
    margin-bottom: 0;
}

.contacts__contacts-p3 {
    margin-top: 0;
    margin-bottom: 67px;
}

.contacts__contacts h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.contacts h2 {
    margin-top: 42px;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0;
    height: 112px;
}

.contacts h2::before {
    content: "";
    display: block;
    background: #000;
    width: 80px;
    height: 7px;
    margin-bottom: 42px;
}

.contacts p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
}

.contacts__about-us a {
    background: linear-gradient(to bottom, #fff 0px 7px, #FFE17F 7px 15px, #fff 15px 20px);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.contacts__number {
    font-family: "Rubik", Arial, Helvetica, sans-serif !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    border-bottom: 1px black solid;
    height: 29px;
}

.contacts h3 {
    color: #444;
}

.contacts__write {
    background: linear-gradient(to bottom, #fff 0px 7px, #FFE17F 7px 15px, #fff 15px 20px);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

/*подписка*/

.subscription {
    margin-top: 87px;
    background-color: #F0F0F0;
    height: 421px;
    display: flex;
}

.subscription__box {
    width: 1160px;
    margin: 0 auto;
}

.subscription h2 {
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0;
    width: 560px;
    height: 120px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.subscription p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    width: 560px;
    height: 99px;
    word-wrap: break-word;
    margin-top: 86px;
    margin-bottom: 50px;
}

.subscription__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscription__subscription {
    width: 861px;
    display: flex;
}

.subscription__form-and-button {
    display: flex;
    justify-content: space-between;
}

.subscription__subscription input {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    border: none;
    background-color: #F0F0F0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    width: 601px;
}

.subscription__subscription button {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.1);
    width: 260px;
    height: 55px;
}

.subscription__check {
    background-image: url(img/check.svg);
    width: 14px;
    height: 14px;
}

.subscription__box-free {
    display: flex;
    align-items: center;
}

.subscription__box-free p {
    width: 129px;
    height: 30px;
    margin: 0;
    padding-left: 21px;
}

/*футер*/

.footer {
    background-color: #444;
    color: #FFF;
    padding: 62px 140px 0 140px;
}

.footer p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
}

.footer span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: right;
}

.footer__contacts {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__contacts p {
    width: 240px;
    height: 38px;
    margin: 0;
}

.footer__contacts ol {
    display: flex;
    align-items: center;
    margin: 0;
}

.footer__contacts li {
    width: 148px;
}

.footer__contacts ol, .footer__social-network ul {
    list-style: none;
}

.footer__social-network {
    padding-top: 49px;
    padding-bottom: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-network ul {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.footer__list a {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #fff !important;
}

.footer__stick {
    background-color: #FFE17F;
    width: 80px;
    height: 7px;
}

.footer__link-face {
    background-image: url(img/face.svg);
    width: 40px;
    height: 40px;
    display: block;
}

.footer__link-inst {
    background-image: url(img/inst.svg);
    width: 40px;
    height: 40px;
    display: block;
}

.footer__link-twet {
    background-image: url(img/twet.svg);
    width: 40px;
    height: 40px;
    display: block;
}

/*хлебные крошки*/

.crumbs {
    margin-top: 37px;
}

.crumbs h1 {
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0;
    margin: 0 680px 14px 200px;
    height: 60px;
}

.crumbs__list {
    list-style: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    opacity: 0.6; 
    margin: 14px auto 0 200px;
    display: flex;
}

.crumbs__list li {
    padding-right: 36px;
}

.options__filters {
    background-color: #DCDCDC;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/*Подбор товара*/

.catalog {
    margin-top: 49px;
    display: flex;
}

.catalog form {
    height: 1334px;
}

.options {
    width: 468px;
}

.products {
    width: 972px;
}

fieldset {
    padding: 0;
    margin: 0;
}

.options form {
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 69px;
}

.options__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70px;
    margin: 0;
}

.options__filters legend {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.options__catalog fieldset {
    border:0;
    margin: 0;
    padding: 0;
}

.options__catalog {
    padding-top: 71px;
}

.options__catalog legend {
    width: 200px;
    height: 34px;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-top: 12px;
    border-top: 2px solid #000;
}

.options__price legend{

}




.options__color {
    display: flex;
    flex-direction: column;
}

.options__color label {
    margin-bottom: 20px;
    display: flex;
}

.options__color label:first-child {
    margin-top: 14px;
}

.options__color label:last-child {
    margin-bottom: 45px;
}

.options__color span {
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 17px;
    height: 20px;
}

.options__color input {
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #EBEBEB;
    border: 2px solid rgb(0, 0, 0, 0.2);
    border-radius: 3px;
}

.options__blutooth {
    display: flex;
    flex-direction: column;
}

.options__blutooth label {
    margin-bottom: 21px;
    display: flex;
    align-items: center;
}

.options__blutooth label:first-child {
    margin-top: 14px;
}

.options__blutooth label:last-child {
    margin-bottom: 58px;
}

.options__blutooth span {
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    margin-left: 17px;
}

.options__blutooth input {
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #EBEBEB;
    border:2px solid #000;
}

.options__button {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px 7px, #FFE17F 7px 15px, rgba(255, 255, 255, 0) 15px 20px);
    border: 0;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.products__sorting {
    background-color: #EBEBEB;
}

.products__sorting label {
    display: flex;
    margin-left: 72px;
    margin-right: 140px;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.products__sorting span {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.product__vectord {
    background-image: url(img/VectorD.svg);
    width: 11px;
    height: 10px;
    border: 0;
    margin-left: 19px;
}

.product__vectoru {
    background-image: url(img/VectorU.svg);
    width: 11px;
    height: 10px;
    border: 0;
}

.products__sorting select {
    background-color: #EBEBEB;
    border: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    margin-right: auto;
    margin-left: 50px;
}

.products__list{
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.products__list li {
    margin: 44px 10px 0 10px;
}

.products__catalog {
    padding: 25px 130px 0 62px;
}

.product__name-product{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;    
}

.product__price-product{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: right;
}



.product__link {
    background-color: #FFE17F;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    
}

.products__load-more {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-align: center;
    background-color: #fff;
    border: 3px solid #000;
    text-transform: uppercase;
    width: 760px;
    height: 55px;
    padding: 0;
    margin-top: 44px;
    margin-bottom: 51px;
}

.products__pages {
    background-color: #EBEBEB;
    display: flex;
    width: 760px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.products__pages-back, .products__pages-forward {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0 30px;
}

.product__page-numbers {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    opacity: 0.3;
    width: 169px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
        display: none;
}

.modal__auth {
    width: 920px;
    margin: auto auto;
    border: 10px solid #000;
    background-color: #FFF;
}

.modal__header {
    margin: 72px 80px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__header h2 {
    margin: 0;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0;
    height: 60px;
}

.modal__header  button{
    width: 26px;
    height: 26px;
    border: 0;
    background-color: #fff;
    background-image: url(img/cross.svg);
}

.modal__name-and-email {
    margin: 58px 80px 0 80px;
    display: flex;
    justify-content: space-between;
}

.modal__name {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.modal__name label {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    height: 34px;   
}

.modal__name div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.modal__name input {
    height: 60px;
    background-color: #F0F0F0;
    border: 0;
    padding: 0 0 0 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    width: 290px;
}

.modal__img-name {
    width: 50px;
    height: 60px;
    background-color: #F0F0F0;
    background-image: url(img/personW.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal__name p{
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: #FF3D3D;
    height: 30px;
}

.modal__email {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.modal__email label {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    height: 34px;   
}

.modal__email div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.modal__email input {
    height: 60px;
    background-color: #F0F0F0;
    border: 0;
    padding: 0 0 0 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    width: 290px;
}

.modal__img-email {
    width: 50px;
    height: 60px;
    background-color: #F0F0F0;
    background-image: url(img/letterW.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal__email p{
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: #000;
    height: 30px;
}

.modal__item-and-quantily {
    margin: 10px 80px 0 80px;
    display: flex;
    justify-content: space-between;
}

.modal__item {
    display: flex;
    flex-direction: column;
    width: 560px;
}

.modal__item label {
    width: 360px;
    height: 34px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
}

.modal__item input {
    width: 560px;
    height: 60px;
    border:0;
    background-color: #F0F0F0;
    padding-left: 20px;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.modal__summ {
    display: flex;
    flex-direction: column;
}

.modal__quantily-h-and-i {
    display: flex;
}

.modal__quantily-h-and-i label {
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    height: 34px;
    width: 120px;    
}

.modal__quantily-h-and-i button{
    width: 26px;
    height: 26px;
    background-color: #FFE17F;
    border-radius: 100%;
    border:0;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: center;
    
}

.modal__quantily {
    display: flex;
    width: 160px;
    height: 60px;
}

.modal__quantily-minus, .modal__quantily-plus {
    border: 0;
    background-color: #F0F0F0;
    height: 60px;
    width: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
}

.modal__quantily input{
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #F0F0F0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
}

.modal__button {
    width: 200px;
    height: 20px;
    margin: 54px auto 88px 80px;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0;
    background: linear-gradient(to bottom, #fff 0px 7px, #FFE17F 7px 15px, #fff 15px 20px);
}

.popover {
    position: absolute;
    top: 115px;
    right: 117px;
    z-index: 1;
    box-sizing: border-box;
    width: 320px;
    height: 308px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
        display: none;
}

.popover__content {
    background-color: #000;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.popover__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 6px 7px;
    border-color: transparent transparent #000000 transparent;
    margin: 0 auto;
}

.popover__items {
    display: flex;
    flex-direction: column;
}

.popover__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.popover__item a {
    color: #fff;
    display: flex;
}

.popover__item p {
    margin: 0;
    width: 180px;
    height: 43px;
    padding-left: 20px;
}

.popover__item + .popover__item {
    margin-top: 0px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.popover__item button{
    background-image: url(img/crossw.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 11px;
    border:0;
    background-color: #000;
}

.popover__summ {
    background-color: #1A1A1A;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    
}

.popover__box-button {
    background-color: #000;
}

.popover__button {
    width: 280px;
    height: 50px;
    margin: 20px;
    border: none;
    background-color: #fff;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;    
    padding: 0;
}