/*шрифты*/
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/rubik/rubik-800.woff2) format("woff2");
    font-display: swap;
}

.header__menu{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.slider h3{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.slider a{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.categories__list h3{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.services h2{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.services__list{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.delivery__description{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.contacts h2{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.contacts a{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.subscription h2{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.subscription button{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.footer__contacts ol{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body{
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFFFFF;
    color: #000000;
}

/*хедер*/
.header{
    background-color: #FFE17F;
}

.header__option{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.header__search{
    border: none;
    background-color: #FFE17F;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header__catalog{
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: #FFE17F;
}

.header__navigation{
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; 
    list-style: none;
}
