/*шрифты*/
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/rubik/rubik-800.woff2) format("woff2");
    font-display: swap;
}

.header__menu{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.slider h3{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.slider a{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.categories__list h3{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.services h2{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.services__list{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.delivery__description{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.contacts h2{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.contacts a{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.subscription h2{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.subscription button{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.footer__contacts ol{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body{
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFF;
    color: #000;
}

a{
    text-decoration: none;
}

.header a, main a{
    color: #000;
}

figure{
    margin: 0 !important;
    padding: 0 !important;
}

/*хедер*/
.header{
    background-color: #FFE17F;
}

.header__option{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.header__option li{
    display: flex;
}

.header__option-1{
    background-image: url(img/person.svg);
    width: 13px;
    height: 12px;
}

.header__option-2{
    background-image: url(img/compare.svg);
    width: 10px;
    height: 12px;
}

.header__option-3{
    background-image: url(img/cart.svg);
    width: 16px;
    height: 14px;
}

.header__form{
    display: flex;
}

.header__search-img{
    background-image: url(img/search.svg);
    width: 16px;
    height: 16px;
}

.header__search{
    border: none;
    background-color: #FFE17F;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.header__catalog{
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: #FFE17F;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: left;
}

.header__navigation{
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase; 
    list-style: none;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.2em;
}

/*слайдер*/

.slider h3{
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
}

.slider p{
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

.slider a{
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFE17F;
}

.slider b{
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

.slider__indicator button{
    border-radius: 100%;
    width: 12px;
    height: 12px;
}
/*категории*/
.categories__list{
    list-style: none;
}

.categories__list a{
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.categories__list-1{
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-image: url(img/vr.png);
}
.categories__list-2{
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-image: url(img/mp.png);
}
.categories__list-3{
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-image: url(img/ec.png);
}
.categories__list-4{
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-image: url(img/fb.png);
}
.categories__list-5{
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-image: url(img/yc.png);
}
.categories__list-6{
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-image: url(img/quardo.png);
}

/*сервисы*/

.services{
    background-color: #F0F0F0;;
}
.services__list ul{
    list-style: none;
    border-right: black 7px solid;
    width: 280px;
}

.services__list ul li:nth-of-type(1){
    color: #FFE17F;
    background-color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.2em;
    
}

.services__list ul li:nth-of-type(2), .services__list ul li:nth-of-type(3){
    background-color: #FFE17F;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.2em;
    
}

.services__img-1{
    background-image: url(img/delivery\ 1.svg);
    background-position: center;
    width: 136px;
    height: 166px;
}

.services__img-2{
    background-image: url(img/garant.svg);
    background-position: center;
    width: 171px;
    height: 195px;
}

.services__img-3{
    background-image: url(img/credit.svg);
    background-position: center;
    width: 156px;
    height: 188px;
}

/*доставка*/

.delivery__img{
    background-image: url(img/deliverycar.svg);
    background-color: #FFE17F;
    width: 125px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.delivery__description{
    background-color: #F0F0F0;
    height: 100px;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-align: center;
}

.delivery__button{
    border-radius: 100%;
    background-color: rgba(220, 220, 220, 0.5);
}

/*контакты*/

.contacts h2{
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    border-top: #000 7px solid;
}

.contacts p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.contacts__about-us a{
    background-color: #FFE17F;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
}

.contacts__number{
    font-family: "Rubik", Arial, Helvetica, sans-serif !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.contacts h3{
    color: #444444;
}

.contacts__write{
    background-color: #FFE17F;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
}

/*подписка*/

.subscription{
    background-color: #F0F0F0;
}

.subscription h2{
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.subscription p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.subscription__subscription{
    border-bottom: 3px solid #000;
}


.subscription__subscription input{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    background-color: #F0F0F0;
}

.subscription__subscription button{
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    border: 3px solid #000;
}

.subscription__check{
    background-image: url(img/check.svg);
    width: 14px;
    height: 14px;
}

/*футер*/

.footer{
    background-color: #444;
    color: #FFF;
}

.footer p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.footer span{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
}

.footer__contacts ol, .footer__social-network ul{
    list-style: none;
}

.footer__list a{
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #fff !important;
}

.footer__stick{
    background-color: #FFE17F;
    width: 80px;
    height: 7px;
}

.footer__link-1{
    background-image: url(img/face.svg);
    width: 40px;
    height: 40px;
}

.footer__link-2{
    background-image: url(img/inst.svg);
    width: 40px;
    height: 40px;
}

.footer__link-3{
    background-image: url(img/twet.svg);
    width: 40px;
    height: 40px;
}